-var __dir = './slides/screepy/'
each step in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
  .slide
    .header Pathogenicity screening: will that order kill us all?
    .content.vcenter
      +stepSVG(step, __dir + 'screepy_optimized.svg')