- var __dir = './slides/dbtl-cycle/'

each step in [0, 1, 2, 3, 4, 5, 6]
  .slide
    .header Accelerating Development Cycles in Synthetic Biology
    .content.vcenter
      +stepSVG(step, __dir + "dbtl-cycle.svg")
  
