- var __dir = './slides/plateo/'

each step in [0, 1, 2, 3, 4, 5, 6]
  .slide
    .header Plateo: a babel framework for lab automation
    .content.vcenter
      +stepSVG(step, __dir + "plateo_optimized.svg")