- var __dir = './slides/supply-networks-tricks/'
-
  var layers = [
    ['multishops', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
    ['from-scratch', [0, 1, 2, 3, 4, 5, 6, 7]],
    ['PCR', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]
  ]

each layer_steps in layers
  - var [layer, steps] = layer_steps
  each step in steps
    .slide(style='padding-bottom:0; margin-bottom: 0; border: none;')
      .header Supply networks can express many different problems
      .content.vcenter: center
        +stepSVG(step, __dir + "supply-networks-tricks_optimized.svg", layer)
      if (layer == 'multishops') && (step > 5)
        .slide-modal
          .vcenter
            center
              div(style='width: 80%;')
                +stepSVG(step - 5, __dir + "from-same-vendor_optimized.svg")