- var __dir = './slides/title-slide/'

#title-slide.slide.no-number
  h1 The Edinburgh Genome Foundry
    br
    em Lab Automation as a Service
    br
    span.small V. Zulkower, April 2019
  img.foundry(src=__dir + "foundry.jpg")
  img.logos(src=__dir + "logos.svg")

style
  include:scss ./title-slide.scss
  
