- var __dir = './slides/egf-software-workflow/'

each step in [0, 1, 2, 3, 4, 5, 6, 7, 8]
  .slide
    .header EGF software workflow
    .content.vcenter
      +stepSVG(step, __dir + "egf-software-workflow_optimized.svg")
