- var __dir = './slides/EMMA-is-difficult/'

each step in [0, 1, 2, 3, 4, 5]
  .slide
    .header Problem: the EMMA standard is not straightforward
    .content.vcenter
      +stepSVG(step, __dir + "EMMA-is-difficult_optimized.svg")