- var __dir = './slides/motivation/'

each step in [0, 1]
  .slide
    if step == 0
      .header Introducing the Edinburgh Genome foundry (get in touch!)
    if step == 1
      .header Challenge: onboarding projects takes a lot of time!
    //- .content.vcenter
    img.full-width(style='', src=__dir + 'foundry.jpg')