.slide
  h2.header Conclusion
  .content.vcenter
    ul.top-0mm: li.
      The path to DNA assembly is dark and full of terrors.
      One mistake can cost weeks and plenty of money.
      
    ul: li.
      Advances in molecular biology and growing software investment
      should solve many issues in the next years.
      
    ul: li.
      Next time you design or assemble DNA, have a look at the latest
      software... or call the Foundry ! 
          

.slide
  h2.header Conclusion: links
  .content.vcenter: div
    .quarter
      img(src="./assets/imgs/photos/cuba_screenshot.png")
      .name Public web apps:<br/> #[b cuba.genomefoundry.org]
    .quarter
      
      img(src="./assets/imgs/photos/github_screenshot.png")
      .name Computational libraries on Github:<br/> #[b Edinburgh-Genome-Foundry]
    
    center
      p Contact:<br/> valentin.zulkower@ed.ac.uk
