- var __dir = './slides/software-layer/'

//- .slide
//-     .header The EGF's High-Throughput robotic platform
//-     img(src=__dir + 'egf-photo.png' style='width: 110%; height: auto; margin-top: 2cm')

each step in [0, 1, 2, 3, 4, 5, 6]
  .slide
    .header Our software helps taking projects to the platform and back
    .content.vcenter
      +stepSVG(step, __dir + "software-layer_optimized.svg")