- var __dir = './slides/title-slide/'

#title-slide.slide.no-number
  h1
    span DNA Weaver
    span &nbsp; - Optimal Assembly Strategies #[br] via Supply Networks and Shortest Path Algorithms
    br
    em.small Valentin Zulkower, Susan Rosser, Edinburgh Genome Foundry
  img.foundry(src=__dir + "illustration.jpeg")
  img.logos(src=__dir + "logos_optimized.svg")

style
  include:scss ./title-slide.scss
  
