- var __dir = './slides/how_to_work_with_us/'

//- .slide
//-     .header The EGF's High-Throughput robotic platform
//-     img(src=__dir + 'egf-photo.png' style='width: 110%; height: auto; margin-top: 2cm')

each step in [0, 1, 2, 3, 4, 5]
  .slide
    .header How to work with us
    .content.vcenter
      +stepSVG(step, __dir + "how_to_work_with_us_optimized.svg", 'all_layers')