- var __dir = './slides/DAB/'

each step in [1, 2, 3]
  .slide
    .header Second customer portal attempt: EGF Design and Build (DAB)
    .content.vcenter
      center
        img(src=__dir + "dab_" + step + ".png", style="width: 92%;")