- var __dir = './slides/egf-software-libraries/'

each step in [0, 1, 2, 3, 4]
  .slide
    .header Lowering the biofoundry software bareer via open-source 
    .content.vcenter
      +stepSVG(step, __dir + "egf-software-libraries_optimized.svg")