.ui.segment.piled(style='margin-bottom:0.6cm;')
  :markdown-it
    This role-playing game by the Edinburgh Genome Foundry is meant to
    introduce molecular and computational biologists to the different challenges
    of running an academic DNA assembly platform. It is meant to be played at
    the EGF, with EGF members as non-player characters.

.ui.icon.message.yellow(style='margin-bottom:0.6cm;')
  i.lightbulb.outline.icon
  .content
    .header This document is available online !
    p This PDF and its sources can be consulted at this address:<br/> #[a(href='https://github.com/Edinburgh-Genome-Foundry/egf-shared-documents') github.com/Edinburgh-Genome-Foundry/egf-shared-documents]
