h2 Scenario

p.
  Anna is a Post-Doc at the University of Edinburgh, where she studies the role
  of the MEO sequence pattern in kitten cancer. MEO is a 30-nucleotide sequence
  generally found as 10- or 20- tandem repeats upstream of important
  developmental genes across feline species. To better understand the regulatory
  role of MEO, Anna contacted the Genome Foundry with the following email.

.ui.segment.piled.email
  :markdown-it
    Hello Genome Foundry,

    I am writing to enquire about costs and lead time for a MEO array, which would
    consist of 40 times the MEO sequence (below), with 20-nucleotide padding between
    each consecutive repeats.  
    I would like the final sequence on a plasmid, with flanking XbaI sites so I
    can easily clone it elsewhere in the future.  
    
    MEO sequence: ATTGTGCGTGTAAATACGCATGTGTGCA

    Thanks,
    
    Anna E. Robik
    (anna.e.robik@gmail.com)
    
  img(src='assets/imgs/plots/meo_repeats.svg')

.ui.card.kitten
  .image
    img(src='assets/imgs/photos/kitten.jpg')
  .content
    .header Awwwww
    .description Will you help Anna save this poor kitten ?

p(style="margin-top: 2em;").
  You are members of the Edinburgh Genome Foundry (see characters sheet). Using
  the knowledge base (documents attached) and your own creativity, can you make
  Anna a happy customer ?
