thead
  th Enzyme
  th HF
  th $ / 200u
  th Meth.
tbody
  tr
    td AgeI
    td #[i.icon.check]
    td 50
    td
  tr
    td AseI
    td
    td 46
    td
  tr
    td AvaI
    td
    td 42
    td
  tr
    td BamHI
    td #[i.icon.check]
    td 36
    td
  tr
    td BanII
    td
    td 46
    td
  tr
    td ClaI
    td
    td 46
    td Dam
  tr
    td DraI
    td
    td 45
    td
  tr
    td EcoRI
    td #[i.icon.check]
    td 34
    td
  tr
    td EcoRV
    td #[i.icon.check]
    td 38
    td
  tr
    td HindIII
    td #[i.icon.check]
    td 34
    td
  tr
    td KpnI
    td #[i.icon.check]
    td 38
    td
  tr
    td MfeI
    td #[i.icon.check]
    td 48
    td
  tr
    td MfeI
    td #[i.icon.check]
    td 48
    td
  tr
    td NaeI
    td
    td 42
    td
  tr
    td NdeI
    td
    td 46
    td
  tr
    td NheI
    td #[i.icon.check]
    td 43
    td
  tr
    td NotI
    td #[i.icon.check]
    td 46
    td
  tr
    td NspI
    td
    td 46
    td
  tr
    td PstI
    td #[i.icon.check]
    td 41
    td
  tr
    td PvuI
    td #[i.icon.check]
    td 46
    td
  tr
    td PvuI
    td #[i.icon.check]
    td 46
    td
  tr
    td SacI
    td #[i.icon.check]
    td 38
    td
  tr
    td SalI
    td #[i.icon.check]
    td 39
    td
  tr
    td ScaI
    td #[i.icon.check]
    td 43
    td
  tr
    td ScaI
    td #[i.icon.check]
    td 43
    td
  tr
    td SnaBI
    td
    td 42
    td
  tr
    td SpeI
    td #[i.icon.check]
    td 43
    td
  tr
    td SphI
    td #[i.icon.check]
    td 46
    td
  tr
    td StyI
    td #[i.icon.check]
    td 48
    td
  tr
    td XbaI
    td
    td 42
    td Dam
  tr
    td XhoI
    td
    td 42
    td
