thead
  th Operation
  th &pound; / 96w run
tbody
  tr
    td Assembly ligation
    td 68
  tr
    td Transformation/plating
    td 170
  tr
    td Minipreping
    td 110
  tr
    td Fragment Analysis
    td 40
  tr
    td Sequencing
    td 131
