- var __dir = './slides/dnaweaver/'

each step in [0, 1, 2, 3, 4, 5, 6, 7]
  .slide
    .header DNA Weaver: a route planner for DNA assembly
    .content.vcenter
      +stepSVG(step, __dir + "dnaweaver_optimized.svg")
