-var __dir = './slides/genedom/'
each step in [0, 1, 2, 3, 4, 5]
  .slide
    .header Batch parts domestication with Genedom
    .content.vcenter
      center
        .svg(style='width: 100%')
          +stepSVG(step, __dir + "genedom_optimized.svg")

each step in [0, 1, 2, 3, 4, 5]
  .slide
    .header Batch parts domestication with Genedom
    .content.vcenter
      center
        .svg(style='width: 100%')
          +stepSVG(step, __dir + "genedom_screenshots_optimized.svg")