- var __dir = './slides/smartass/'

each step in [0, 1, 2, 3, 4]
  .slide
    .header Our collection of internal apps: Smart Assembly
    .content.vcenter
      +stepSVG(step, __dir + "smartass_optimized.svg")
