- var __dir = './slides/genetic-constructor/'

each step in [0, 1, 2, 3, 4, 5, 6, 7, 8]
  .slide
    .header Genetic Constructor, an Autodesk-EGF customer portal venture
    .content.vcenter
      +stepSVG(step, __dir + "genetic-constructor_optimized.svg")
