- var __dir = './slides/chapter-slides/'
.chapter-slide.slide.no-number
  .chapter-title
    
    h1.huge(style='margin-left: -0.1em;') CAM
    h2 Software
  img.foundry(src=__dir + 'chapter-background.jpg')