include slides/title-slide/title-slide.pug
include slides/uk-foundries/uk-foundries.pug
include slides/dbtl-cycle/dbtl-cycle.pug
include slides/EMMA/EMMA.pug
include slides/how_to_work_with_us/how_to_work_with_us.pug
include slides/a-ht-robotic-platform/a-ht-robotic-platform.pug
include slides/phenotyping/phenotyping.pug
include slides/other_workflows/other_workflows.pug
include slides/egf-on-the-web/egf-on-the-web.pug
include slides/egf-team/egf-team.pug
style
  include:scss talk.scss
