- var __dir = './slides/egf-team/'

.slide
    .header Last slide: the EGF team
    .content.vcenter
      center
        img(src=__dir + 'egf-team.svg' style='width: 90%; height: auto')
        p Thank you for your attention!
