- var __dir = './slides/intro-slides/'

.slide
  .header Motivation: fast project onboarding at a DNA foundry 
  //- .content.vcenter
  img.full-width(style='', src=__dir + 'foundry.jpg')

.slide
  .header The EGF team: not that large!
  .content.vcenter
    img.full-width(style='', src=__dir + 'egf-team_optimized.svg')