for step in [1, 2, 3, 4]
  .slide
    .header Conclusion
    .content.vcenter
      
      ul(class=step >= 2 || 'hide')
        li #[b Look out for what you can outsource:] it gets cheaper by the year
      
      ul(class=step >= 3 || 'hide')
        li #[b Don't order Ebola !] At least not from us
      
      ul(class=step >= 4 || 'hide')
        li #[b Learn to code:] it will give you biological super-powers
