- var __dir = './slides/graph-operations/'
//- 6, 7
each step in [0,1,2,3,4,5,6,7]
  .slide(style='padding-bottom:0; margin-bottom: 0; border: none;')
    .header Graph operations can reflect practical constraints
    .content.vcenter: center
      +stepSVG(step, __dir + "graph-operations_optimized.svg", layer='all')